#support_online {
    background: rgba(0, 0, 0, 0) url("../images/160201-01.png") repeat scroll 0 100%;
    bottom: 0;
    cursor: pointer;
    height: 202px;
    position: fixed;
    left: 0;
    width: 230px;
    z-index:1000000;
}
#support_facebook {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #ffffff none repeat scroll 0 0;
    border-color: #dddddd -moz-use-text-color #dddddd #dddddd;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    bottom: 0;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 510px;
    z-index: 10000;
   overflow : scroll;
}
#support_facebook .support_close {
    border-bottom: 1px solid #dddddd;
    padding: 10px;
    text-align: right;
}
#support_facebook .support_close img {
    cursor: pointer;
}
#support_facebook .viewallsupport {
    color: #333333;
    display: inline-block;
    float: left;
    text-decoration: underline;
}
#support_facebook .fb-comments, #support_facebook .fb-comments * {
    width: 100% !important;
}
@media (max-width: 1199px) {
#support_online {
    height: 40px;
}
}